<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Pizzeria da Jama</title>
</head>
<body class="container d-flex flex-column align-items-center text-center">
	
	<h1 class="pt-5">Pizzeria da Jama</h1>
	
	<form action="/" method="GET" class="py-3">
		<label>Cerca</label>
		<input type="text" name="nome" th:value="${nome}">
	</form>
	
	<a 
		th:href="@{/new-pizza}"
		class="pb-3"
	>Nuova pizza</a>
	
	<div th:if="${pizze != null}">
		<ul>
			<li 
				th:each="pizza : ${pizze}"
				th:object="${pizza}"
				class="d-flex py-2 my-1 border border-dark rounded">
					<span class="px-2">
						<a th:href="@{/{id} (id = *{id})}">[[*{nome}]] - [[*{prezzo}]] €</a>
					</span>
					<!-- <img th:src="@{*{foto}}"> -->
			</li>
		</ul>
	</div>
	
	<h3 th:if="${pizze.isEmpty()}">Pizzeria chiusa</h3>
	
</body>
</html>